body, html{
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    max-width: 950px;
    margin: 50px auto;
}
.container-title{
    text-align: center;
}
.container-add{
    text-align: center;
    margin: 20px 5px;
}
.container-task{
    margin: 40px auto;
    border-radius: 15px;
    min-height: 315px;
    background-image: url(https://images.vectorhq.com/images/previews/d2c/thumbtack-note-blank-45997.png);
    background-size: cover;
    background-position: -2px 3px;
    background-repeat: no-repeat;
    position: relative;
    min-width: 450px;
    max-width: 450px;
}
.content-text{
    width: 80%;
    position: absolute;
    top: 115px;
    left: 55px;
    font-weight: 600;
}
.content-button{
    width: 20%;
    text-align: center;
}
.btn-delete{
    background: rgb(228, 27, 0);
    color: #fff;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-delete:hover{
    background: rgb(179, 21, 0);
}
.btn-edit{
    background: rgb(0, 74, 170);
    color: #fff;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 6px 11px 48px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 11px 48px -20px rgba(0,0,0,0.75);
    box-shadow: 6px 11px 48px -20px rgba(0,0,0,0.75);
}
.btn-edit:hover{
    background: rgb(0, 49, 114);   
}
.btn-check{
    background: rgb(54, 54, 54);
    color: #fff;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 6px 11px 48px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 11px 48px -20px rgba(0,0,0,0.75);
    box-shadow: 6px 11px 48px -20px rgba(0,0,0,0.75);
    cursor: pointer;
}
.btn-check:hover{
    background: rgb(0, 0, 0);
}
.btn-check-active{
    background: rgb(82, 206, 0);
    color: rgb(0, 0, 0);
    padding:  15px 15px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 6px 11px 48px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 11px 48px -20px rgba(0,0,0,0.75);
    box-shadow: 6px 11px 48px -20px rgba(0,0,0,0.75);
    cursor: pointer;
}
.btn-check-active:hover{
    background: rgb(65, 163, 0);
}
.container-add input{
    width: 60%;
    height: 50px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
    padding: 10px 20px;
    -webkit-box-shadow: 6px 11px 41px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 11px 41px -17px rgba(0,0,0,0.75);
    box-shadow: 6px 11px 41px -17px rgba(0,0,0,0.75);    
}
.btn-plus{
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    background: rgb(255, 190, 9);
    cursor: pointer;
    font-size: 25px;
    color: #fff;
}
.btn-plus:hover{
    background: rgb(248, 153, 1);
}
.content-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50px;
    bottom: 10px;
}
.content-button div{
    display: flex;
}
.content-button div button{
    margin: 5px 7px;
}
/* .container-task .content-text{
    background: rgb(255, 210, 85);
    border-radius: 15px;
} */
.content-text p{
    word-break: break-all;
    padding: 0px 10px;
    text-align: center;
}
span{
    font-size: 21px;
}
.container-title h1{
    color: rgb(58, 58, 58);
    font-size: 42px;
}

@media only screen and (max-width: 600px) {
    .btn-delete,.btn-check,.btn-edit,.btn-plus {
        padding: 8px 8px;
    }
    span{
        font-size: 15px;
    }
    .btn-plus span{
        font-size: 20px;
    }
    .container-task{
        min-height: 235px;
        max-height: 310px;
        min-width: 250px;
        max-width: 330px;
        background-position: -10px;
    }
    .content-text {
        width: 80%;
        position: absolute;
        top: 69px;
        left: 30px;
        font-size: 13px;
        font-weight: 500;
    }
    .content-button {
        bottom: 0px;
    }
}